name: tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: branch-name
        uses: tj-actions/branch-names@v2.2
      - name: Checkout branches
      # only fetch the head commits of our branch & diff-branch
        run: |
          git remote set-branches origin diff-branch "${{steps.branch-name.outputs.current_branch}}"
          git fetch --depth 1
          git checkout "${{steps.branch-name.outputs.current_branch}}"
      - uses: ./
        with:
          version: 2.7.5
          path: integration-test
          compare-branch: diff-branch